<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^services/single-sitting-root-canal-treatment/?$ /services/root-canal-treatment/ [R=301,L]
  RewriteRule ^services/crowns-and-bridges/?$ /services/crowns-bridges/ [R=301,L]
  RewriteRule ^blog/?$ /blogs/ [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
